body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;;
}

header{
    background-color: #000000;
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


nav img{
    height: 34px;
    margin-left: 13rem;
}


.menu-header li{
    margin-top: 8px;
    position: relative;
}

.menu-header li::after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    margin-right: 4px;
    background-color: #fff;
    margin-top: 4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.menu-header li:hover::after{
    transform: scaleX(1);
}


.menu-header li a{
    margin-right:40px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.09rem;
}

.menu-header{
    list-style: none;
    display: flex;
    align-items: center;
}

span{
    color: rgb(251, 183, 3);
}

.i {
  background-image: url('/img/bicicleta/nimbus1.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  bottom: -45px;
  height: 100%;
  border-radius: 3px;
}

.botao{
    display: inline-block;
    text-decoration: none;
    color:#332200 ;
    background-color: rgb(251, 183, 3);
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;
}

.intro-info{
    margin-top: 40px;
    color: white;
}

.intro-info h1 {
    font-size: 3rem;
}

.intro-info p {
    font-size: 1.1rem;
}


.container{
    display: grid;
    grid-template-columns: 450px 500px;
    gap: 30px;
    background-color: #000000;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.det-image{
    height: 45px;
    position: relative;
    top: 20px;
    right: 320px;
    bottom: 500px;
}

